*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(background3.jpg);/* for overlay*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    /* margin-right: 20px; */
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease ;
}
ul li a:hover{
    background-color: white;
    color: black;      
}
ul li.active a{
    background-color: white;
    color: black;

}
.logo img{
    float: left;
    width: 120px;
    height: auto;
    /* margin-left: 50px; */
    margin-top: 10px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
/************************************************LOGIN*********************************/
.login-body{
    padding: 0px;
    margin: 0px;
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(background3.jpg);/* for overlay*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid rgb(11, 208, 230);
    margin-bottom: 50px;
    padding:13px 0  ;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding-left: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(11, 208, 230);
     
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white ;
    font-size: 18px;
    width: 80%;
    height: 10%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid rgb(11, 208, 230) ;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition: 0.6s ease;
}
.btn:hover{
    background-color:rgb(11, 208, 230) ;
    /* border: 2px solid white ; */
    color: black;
}
/**************************************signin*************************/
.checkbox{
    font-family: sans-serif;
    font-size: 18px;
    color: blanchedalmond;
}